#main {
    padding: 50px 20px 20px 30px;
}

#main #title {
    text-align: center;
    background-color: aqua;
    color: white;
}
#img-div {
    margin: -5px;
    margin-top: 20px;
    width: 100%;
    border: 5px solid white;
    background: white;
}
