#main {
    padding: 50px 20px 20px 30px;
}

#main #title {
    text-align: center;
    background-color: aqua;
    color: white;
}

#tribute-info {
    text-align: left;
    background-color: aqua;
    color: white;
}

#tribute-info>ul {
    list-style: none;
}